@import "login.scss";


.Varkala{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 14px;
    margin-top: 90px;

    p{
        width: 540px;
        height: 160px;
        color: #868e96;
        font-size: 20px;
        font-family: sans-serif;
        margin: 0px 0px 16px;
        line-height: 30px;
        
    }

    h5{
        color: #bcac76;
        letter-spacing: 7px;
        font-size: 16px;
        font-family: sans-serif;
        width: 540px;
        height: 21px;
    }
    h1{
        font-size:72px;
        margin: 0px 0px 48px;
        font-family: sans-serif;
        margin-right: 30px;
    }
}

.varkala-history{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 190px;
   margin-top: 80px;

    h5{
        color: #bcac76;
        letter-spacing: 7px;
        font-size: 16px;
        font-family: sans-serif;
        width: 730px;
        height: 21px;
        margin: 0px 0px 16px;
    }

    h1{
        font-size:72px;
        margin: 0px 0px 48px;
        font-family: sans-serif;
        margin-right: 30px;
        width: 730px;
        margin-left: 40px;
    }

    .first-image{
        display: flex;
        margin-right: 92px;
        margin-top: 80px;
        .texts{
          margin-top: 150px;
          margin-left: 120px;
            h6{
                color: #868e96;
                width: 540px;
                height: 21px;
                margin: 0px 0px 4px;
                font-size: 16px;
                font-family: sans-serif;
                letter-spacing: 7px;
            }
            p{
                width: 540px;
                height: 103px;
                color: #868e96;
                font-size: 16px;
                margin: 0px 0px 16px;
                font-family: sans-serif;
               line-height: 25px;

            }
            h2{
                width: 540px;
                height: 42px;
                font-size: 32px;
                font-family: sans-serif;
                margin: 0px 0px 24px;
            }
        }
        img{
            
        }
    }

    .second-image{
        display: flex;
        margin-top: 80px;
        margin-right: 70px;

        .texts{
            margin-left: 75px;
            h6{
                color: #868e96;
                width: 540px;
                height: 21px;
                margin: 0px 0px 4px;
                font-size: 16px;
                font-family: sans-serif;
                letter-spacing: 7px;
            }
            p{
                width: 540px;
                height: 103px;
                color: #868e96;
                font-size: 16px;
                margin: 0px 0px 16px;
                font-family: sans-serif;
               line-height: 25px;

            }
            h2{
                width: 540px;
                height: 42px;
                font-size: 32px;
                font-family: sans-serif;
                margin: 0px 0px 24px;
            }
        }
        img{
            margin-left: 90px;
        }
    }
}

.varkala-milestones{
    width: 100%;
    background-color: #f8f9fa;
    margin-top: 150px;
   
   

.texts{
   width: 1130px;
   margin: 0px -15px;
   position: relative;
   left: 250px;
   padding-top:110px;
   
    
  
   
   .texts-left{
    width: 475px;
    height: 365px;
    padding: 15px 55px;
  
 
    p{
        color: #868e96;
        font-size:20px;
        width: 445px;
        height: 192px;
        font-family: sans-serif;
        line-height: 28px;
        
    }

    h2{
        width: 445px;
        height: 42px;
        font-size: 32px;
        font-family: sans-serif;
    }
   }

   .texts-right{
    margin-left: 560px;
    position: relative;
    bottom: 350px;
    display: flex;
   
    
    .first{
        width: 285px;
        height: 157px;
        padding: 0px 15px;
      

        p{
            color: #868e96;
            font-size: 16px;
            margin: 0px 0px 16px;
            width: 255px;
            height: 103px;
            font-family: sans-serif;
            position: relative;
            bottom: 20px;
            line-height: 24px;
        }
        h4{
            width: 255px;
            height: 32px;
            font-size: 24px;
            font-family: sans-serif;
            margin: 0px 0px 8px;
        }
    }
     
    .second{
        width: 285px;
        height: 157px;
        padding: 0px 15px;
      

        p{
            color: #868e96;
            font-size: 16px;
            margin: 0px 0px 16px;
            width: 255px;
            height: 103px;
            font-family: sans-serif;
            position: relative;
            bottom: 20px;
            line-height: 24px;
        }
        h4{
            width: 255px;
            height: 32px;
            font-size: 24px;
            font-family: sans-serif;
            margin: 0px 0px 8px;
        }
    }

    .third{
        width: 285px;
        height: 157px;
        padding: 0px 15px;
        position: relative;
        top: 190px;
        right: 570px;
      

        p{
            color: #868e96;
            font-size: 16px;
            margin: 0px 0px 16px;
            width: 255px;
            height: 103px;
            font-family: sans-serif;
            position: relative;
            bottom: 20px;
            line-height: 24px;
        }
        h4{
            width: 255px;
            height: 32px;
            font-size: 24px;
            font-family: sans-serif;
            margin: 0px 0px 8px;
        }
    }
  
    .fourth{
        width: 285px;
        height: 157px;
        padding: 0px 15px;
        position: relative;
        top: 190px;
        right: 570px;
      

        p{
            color: #868e96;
            font-size: 16px;
            margin: 0px 0px 16px;
            width: 255px;
            height: 103px;
            font-family: sans-serif;
            position: relative;
            bottom: 20px;
            line-height: 24px;
        }
        h4{
            width: 255px;
            height: 32px;
            font-size: 24px;
            font-family: sans-serif;
            margin: 0px 0px 8px;
        }
    }
   
   }

}
}